@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  background-color: #F6F7F9;
  min-height: calc(100vh - 480px);
  padding: 0rem;
  display: flex;
  flex: 1;
  width: 100vw;
  align-items: stretch;
}

.main-content {
  flex: 1;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.car-grid-wrapper {
  flex: 1;
  background-color: #F6F7F9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
}
